### Mac ###
.DS_Store

### Git ###
*.orig

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.classpath
.project
.checkstyle
.settings/
*.launch

### NetBeans ###
nb-configuration.xml
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Maven ###
work/
target/
classes/

### Maven Wrapper ###
.mvn/wrapper/maven-wrapper.jar

### Spring ###
*.pid
*.springBeans

### Ephemeral files ###
src/main/resources/git.properties
log/
logs/

node_modules/
/test-results/
/playwright-report/
/playwright/.cache/

### E2E test ###
e2e-local.json